.fullyCustomization {
    margin-top: 130px;
}

.breadcrumbs {
    display: flex;
    align-items: flex-end;
}

.home_color_head {
    color: black;
    opacity: 0.8;
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 14px;
}

.linkDevice_color_head {
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 14px;
    color: #af38d6;
}

.leftImage {
    display: flex;
}

.fullyCustomDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.customization_details {
    padding-top: 70px;
}

.right_heading h2 {
    font-family: "Oxygen";
    font-weight: 700;
    font-size: 22px;
}

.right_heading p {
    max-width: 360px;
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 14px;
    margin-top: 6px;
    opacity: 0.6;
}

.minus,
.plus {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.input {
    margin-top: 1px;
    height: 34px;
    width: 50px;
    text-align: center;
    font-size: 26px;
    border: unset;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #af38d6;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.quantity h3 {
    font-family: "Oxygen";
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 12px;
}

.price h3 {
    font-family: "Oxygen";
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 12px;
}

.price h4 {
    font-family: "Oxygen";
    font-weight: 700;
    font-size: 18px;
}

.price span {
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 12px;
    color: #AF38D6;
}

.info {
    background-color: white;
    border-radius: 15px;
    margin-top: 60px;
}

.info p {
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 14px;
    opacity: 0.8;
    padding-left: 5px;
}

.info p:first-child {
    padding-bottom: 15px;
}

.detailInfo {
    display: flex;
    padding: 23px 34px 23px 34px;
}

.icon {
    width: 38px;
    display: flex;
    align-items: baseline;
    margin-top: 3px;
}

.cartButton {
    background-color: #af38d6;
    outline-color: #af38d6;
    border: unset;
    font-size: 14px;
    font-family: "Oxygen", sans-serif;
    font-weight: 500;
    width: 100%;
    margin-top: 40px;
    height: 40px;
}

.cartButton:focus-visible,
.cartButton:active,
.cartButton:hover {
    background-color: #af38d6 !important;
    outline-color: #af38d6;
    border: unset;
}

/* Responsive */

@media screen and (min-width:1200px) {
    .right_section_responsive {
        display: none;
    }

    .static_btn {
        display: none;
    }

    .line {
        display: none;
    }
}

@media screen and (max-width:1199px) {
    .right_section {
        display: none;
    }

    .right_section_responsive {
        padding-top: 15px;
    }

    .right_heading {
        max-width: 227px;
    }

    .leftImage {
        justify-content: center;
    }

    .cartButton {
        display: none;
    }

    .price_resp p {
        color: black;
        font-family: "Oxygen", sans-serif;
        font-weight: 700;
        font-size: 20px;
    }

    .checkOutBtn_fixed {
        font-family: "Oxygen", sans-serif;
        justify-content: center;
        font-weight: 700;
        font-size: 14px;
        color: white;
        cursor: pointer;
        opacity: 1;
        border-radius: 0;
        display: flex;
        background-color: #af38d6;
        border-radius: 5px;
        align-items: center;
        padding: 10px 60px 10px 60px;
    }

    .static_btn {
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: white;
        padding: 10px 35px 10px 35px;
        z-index: 1;
    }
}

@media screen and (max-width: 575px) {
    .fullyCustomization {
        padding: 0 10px 0 10px;
    }

    .fullyCustomDetails {
        flex-direction: column;
    }

    .price {
        display: none;
    }

    .info p {
        opacity: 0.9;
    }

    .leftImage {
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 23px 55px 23px 55px;
    }

    .customization_details {
        padding-top: 40px;
    }

    .details {
        margin-top: 10px;
    }

    .info {
        background-color: transparent;
        margin-top: 0px;
    }

    .detailInfo {
        padding: 10px 0px 23px 0px;
    }
}