.head_social {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-transform: capitalize;
  margin-bottom: 33px;
}

.inputfieldssocial {
  display: flex;
  margin-bottom: 16px;
  border-radius: 10px;
}

.inputfield_soc {
  background-color: transparent;
  width: 100%;
  padding-left: 9px;
  overflow: hidden;
  max-width: 26ch;
  text-overflow: ellipsis;
  text-decoration: none;
  padding-bottom: 11px;
}

.inputfield_soc p {
  padding-top: 6px;
  font-weight: 500;
  font-size: 14px;
}

.inputfield_soc h3 {
  font-weight: 400;
  font-size: 12px;
  overflow: hidden;
  max-width: 30ch;
  text-overflow: ellipsis;
  padding-left: 0px;
  height: 15px;
}

.arrow_soc {
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.icons {
  height: 52px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.arrow {
  height: 52px;
  margin-left: auto;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}