.profileSection {
    background-color: black;

}

.profileLandingPage {
    width: 85.7vw;
    margin: 0 auto;
}

.breadCrumbs {
    display: flex;
    gap: 5px;
    margin-top: 20px;
    padding-left: 40px;
}

.link1 a {
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.80);

}

.link2 a {
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 14px;
    color: #AF38D6;
}

.profileInformationDiv {
    margin-top: 70px;
}

.profileInformationDiv h1 {
    color: #FFF;
    text-align: center;
    font-family: "Oxygen";
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.createProfileHeading {
    color: #CBCBCB;
    font-family: "Oxygen";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.profileSubContent {
    margin-top: 9px;
    color: #FFF;
    text-align: center;
    font-family: Oxygen;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profileSubContent span {
    color: #AF38D6;

}

.profileBtnDiv {
    margin-top: 26px;
    padding-bottom: 42px;
    text-align: center;
}

.profileBtn {
    width: 206px;
    height: 48px;
    border-radius: 5px;
    background: #AF38D6;
    border: none;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 600;
}

.profileBtn:hover {
    background: #AF38D6;
}

.profileBtn:active {
    background: #AF38D6 !important;
}

.hrLine {
    background: #FFF;
    /* width: 986px; */
    height: 0.6px;
    margin-left: 199px;
}

.deviceCardDiv {
    /* width: 1237px; */
    height: 288px;
    border-radius: 20px;
    background: #292932;
}

/* .imageDiv {
    display: flex;
    justify-content: center;
} */

.deviceRow {
    padding-top: 38px;
    padding-left: 38px;
    align-items: center;
    /* background-color: red; */
    width: 100%;
}

.deviceImageNumberContainer {
    display: flex;
}

.deviceHeading {
    color: rgba(255, 255, 255, 0.50);
    font-family: "Oxygen";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.deviceSubHeading {
    color: #FFF;
    font-family: "Oxygen";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.linkTag {
    margin-top: 14px;
    color: #FFF;
    font-family: "Oxygen";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.linkTag span {
    color: #AF38D6;
    text-decoration-line: underline;
    font-weight: 700;
}



.allProfileDiv {
    margin-top: 56px;
}

.allProfileListDiv {
    background-color: #AF38D6 !important;
    padding: 1px;
    width: 194px;
    height: 48px;
    color: white;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    padding: 14px;
    margin-left: 30px;
}

.profileName {
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.hr_profile_div_css {
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    height: 19px;
    margin-top: 8px;
    margin-left: 10px;
}

.createProfileDropDownHeading {
    color: #FFF;
    font-family: "Oxygen";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.createProfileDropDownHeading:hover {
    color: white;
}

.card_div {
    /* width: 1237px; */
    /* height: 274px; */
    border-radius: 20px;
    background: #292932;
}

.deviceNumber_id {
    font-family: "Oxygen";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    margin-top: 3px;
}

.templateNumber {
    display: flex;
    align-items: end;
    color: #FFF;
    font-family: "Oxygen";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 3px
}

.hrLineTag {
    margin-top: 36px;
    margin-bottom: 40px;
    /* width: 1004px; */
    height: 0.7px;
    background: #FFF;
    margin-left: 45px;
}

.editProfileBtn {
    display: flex;
    gap: 37px;
    margin-left: 35px;
    padding-bottom: 38px;
}

.profileCreateBtn {
    border-radius: 15px;
    border: 1px solid #AF38D6;
    width: 167px;
    height: 46px;
    background: none
}

.deviceNumberDiv {
    margin-left: 12px;
}

.profileCreateBtn:hover {
    background: none;
    border: 1px solid #AF38D6;
}

.profileCreateBtn:active {
    background: none;
    border: 1px solid #AF38D6;
}

.linkDeviceBtn {
    border-radius: 15px;
    border: 1px solid #AF38D6;
    width: 167px;
    height: 46px;
    background: #AF38D6;
}

.linkDeviceBtn:hover {
    background: #AF38D6;
    border: none
}

.linkDeviceBtn:active {
    background: #AF38D6 !important;
    border: none !important;
}

.dropdownBackground {
    border-radius: 0px 0px 14px 14px;
    background: #212028;
    box-shadow: 3px 4px 5.2px 0px rgba(27, 26, 31, 0.74);
}

.dropdownText {
    color: white;
    /* text-decoration-line: underline; */
    padding-top: 10px
}

.lineText {
    margin-top: 5px;
    background: #BEBEBE;
    width: 80px;
    height: 0.4px;
}








@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Source+Sans+Pro:wght@700&display=swap");




.dropdown-menu {
    min-width: fit-content;
}

.navLink {
    display: flex;
    justify-content: space-between;
    gap: 42px;
    align-items: center;
}



.logo_hamburger {
    padding-top: 60px;
}

.hamburger_line {
    border: 0.5px solid rgba(175, 56, 214, 0.6);
    width: 100%;
    margin: 20px 0 20px 0;
}

.hamburger_footer {
    font-size: 12px;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
    color: rgba(0, 0, 0, 0.4);
}

.badges {
    display: flex;
    justify-content: space-between;
    gap: 27px;
}



.silderRow {
    display: flex;
}

.loader {
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.purchase-device-btn-div {
    margin-top: 30px;
}

.buyPlan {
    margin-top: 30px;
    text-align: center;
}



.purchaseBtn {
    width: 220px;
    background-color: #af38d6;
    border-radius: 5px;
    border-color: #af38d6;
    outline: #af38d6;
}

.purchaseBtnTwo {
    width: 100%;
    background-color: #af38d6;
    border-radius: 5px;
    border-color: #af38d6;
    outline: #af38d6;
    height: 38px;
}



/* Plan */
.yourPlan h2 {
    font-family: "Oxygen";
    font-weight: 700;
    font-size: 36px;
    margin-top: 140px;
    padding-bottom: 10px;
}

.yourPlan p {
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 43px;
    opacity: 0.7;
    padding-left: 4px;
}

.yourPlan p span {
    font-size: 18px;
    color: #af38d6;
    font-family: "Oxygen";
    font-weight: 700;
    font-size: 18px;
}

.create_profile_header {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #0d071a;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 18px;
}

.upgrade {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #0d071a;
    margin-top: 141px;
    text-align: left;
    margin-bottom: 18px;
}


/* Your profile css */
.search_div {
    background-color: #ededed;
    padding: 9px;
}

.search_icon_alignment {
    margin-top: 10px;
}

.DropdownArrow_align {
    margin-right: 20px;
}

.mode {
    margin-top: 20px;
}



.plan_div {
    margin-top: 6%;
    margin-bottom: 6%;
    font-family: "Montserrat";
}

/*  */
.profile_drvice_div {
    display: flex;
    background-color: #efefef;
    width: 65%;
    padding: 30px;
    margin-left: 23%;
    justify-content: space-evenly;
}

.profile_first_div {
    width: 7px;
}

.profile_sec_div {
    display: flex;
}

.profile_third_div {
    width: 25%;
    display: flex;
}

.circle_device {
    height: 60px;
    width: 60px;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.square_device {
    height: 50px;
    width: 100px;
    background-color: #d9d9d9;
}

.device_qty {
    font-size: 14px;
    color: #00000099;
}

.qty_div {
    margin-left: 10px;
}

.profile_table .table>thead {
    background-color: red;
}

/* .swiper-button-prev,
.swiper-button-next {
display: none !important;
} */
.swiper-button-next {
    display: none;
}

.table_device_div {
    width: 91px;
    height: 44px;
    left: 130px;
    top: 866px;
    background: #cccccc;
    border-radius: 10px;
}

.your_devices {
    font-size: 28px;
    font-weight: bold;
}

.dropdown,
.dropdown:hover,
.dropdown:focus-visible,
.dropdown:active {
    /* background-color: unset !important; */
    border: unset;
}

.table_active_btn {
    background-color: lightgrey;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    width: 60%;
}




.nav_image {
    cursor: pointer;
    padding: 5px;
    margin-top: -2px;
}

.nav_image:hover {
    filter: brightness(100);
    transition: 0.4s;
}

.iconsNavt {
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
}



.arrowBtn {
    padding-left: 1px !important;
    margin-top: -1px !important;
}

.button {
    margin-top: -3px;
    margin-left: -3px;
}

.dropdown-toggle {
    display: none;
}

.iconsNavt:hover {
    background-color: #af38d6;
}

.barDivide {
    text-align: center;
    margin-bottom: 40px;
}

/* card */
.card_header {
    display: flex;
    justify-content: space-between;
    background-color: #0b0711;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.bubblfree {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-size: 27px;
    margin-top: 8px;
    color: #ffffff;
}

.cardCont {
    padding-top: 40px;
    margin-bottom: 20px;
    font-family: "Oxygen", sans-serif;
    max-width: 265px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.cardContContact {
    font-family: "Oxygen", sans-serif;
    max-width: 265px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.list {
    display: flex;
    gap: 8px;
    padding-bottom: 18px;
}

.listTwo {
    display: flex;
    gap: 8px;
    padding-bottom: 10px;
}

.lists {
    font-family: "Oxygen", sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-bottom: 0px;
}

.card_bottom {
    padding-left: 30px;
    padding-right: 30px;
}


.lblCartCount {
    font-size: 12px;
    /* color: #fff; */
    padding: 0 5px;
    vertical-align: top;
}


.line {
    margin-bottom: 35px;
}

.workflow {
    text-align: center;
    margin-top: 35px;
    border-top: 2px solid white;
    max-width: 100%;
}

.fourModes {
    display: flex;
    justify-content: space-between;
    padding-bottom: 72px;
}

.plan_mode {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: flex;
    gap: 42px;
}

.cardHead {
    font-family: "Oxygen", sans-serif;

    font-weight: 700;
    font-size: 28px;
    color: #af38d6;
}

.cardContent {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 35px;
    color: #000000;
    width: 289px;
}

.trymode {
    font-family: "Oxygen", sans-serif;

    font-weight: 600;
    font-size: 14px;
    color: #af38d6;
    margin-bottom: 0px;
}

.cardRight {
    align-self: center;
}

.dropdown::after {
    color: transparent;
}

.Wflow {
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
}

.wrokFlowLine {
    border-top: 2px solid white;
    max-width: 1102px;
    margin-top: -19px;
}

.workflow {
    position: relative;
}

/* Resposnive */
.workflow_responsive {
    border: 1px solid white;
    position: relative;
}

.Wflow_responsive {
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
    position: relative;
}

/* Responisve end */
.verified {
    display: flex;
    gap: 25px;
    padding-left: 25px;
}

.modes {
    margin-bottom: 5px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
}

.check {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.radio {
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2.5em;
    padding-right: 25px;
}

.radio input {
    cursor: pointer;
}

.form-check-input {
    border-color: black;
}

.form-check-input:checked {
    border-color: black !important;
    background-color: rgb(207, 89, 223) !important;
}

.vector {
    display: flex;
    gap: 5px;
}

.multiple_cards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-left: 16px;
    justify-content: space-between;
}

.multiple_cards img {
    min-width: fit-content !important;
    width: fit-content !important;
}

.deviceNumber {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.activeFix {
    margin-right: 20px;
    align-items: center;
    margin-top: 2px;
}

.deviceNumber_div {
    color: rgba(255, 255, 255, 0.50);
    font-family: "Oxygen";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.imageBackground {
    width: 100px;
    height: 100px;
    box-shadow: 10px red;
    background: #fafafa;
    box-shadow: 0px 4px 35px rgb(0 133 255 / 25%);
    border-radius: 50%;
    padding: 21px;
}

.number_tag {
    font-family: "Oxygen";
    font-weight: 700;
    font-size: 16px;
    color: white;
    display: flex;
}

.number_tag_inactive {
    font-family: "Oxygen";
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    display: flex;
}

.image_div {
    margin-right: 23px;
}



.active_green {
    background: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 8px 8px 8px 0px;
}

.active_red {
    background: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 8px 8px 8px 0px;
}

.profileName_value {
    background-color: #603ff0;
    padding: 1px;
    margin-left: 23px;
    height: 34px;
    color: white;
    width: fit-content;
    display: flex;
    border-radius: 10px 10px 0px 0px;
}


.device_profile_name {
    font-family: "Oxygen";
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
}

.dropdown_fix {
    color: white;
    margin-top: -2px;
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 16px;
}



.dropdown_toggle::after {
    content: none;
    font-weight: bolder;
}

.yourProfileContainer {
    text-align: center;
}

.yourProfile_Heading {
    font-family: "Oxygen";
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    color: #0d071a;
    padding: 141px 0px 18px 0px;
}

.template_first {
    font-family: "Oxygen";
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    margin-top: 41px;
}

.template_second {
    font-family: "Oxygen", sans-serif;

    font-size: 16px;
    color: #000000;
}

.bubblDevices {
    font-family: "Oxygen", sans-serif;

    font-weight: 700;
    font-size: 18px;
    color: #af38d6;
}

.dropdown-toggle::after {
    color: #af38d6;
}

.media-div-btn {
    margin: 45px 0px 135px 0px;
}

.media-save-btn {
    background-color: #af38d6;
    border-color: #af38d6;
    font-family: "Oxygen";
    font-weight: 400;
    height: 42px;
    font-size: 14px;
}

.media-save-btn:hover {
    background: #af38d6;
    border-color: #af38d6;
    box-shadow: 1px -1px 25px -2px rgba(189, 189, 189, 1);
}

.media-save-btn:first-child:active {
    background: #af38d6;
    border-color: #af38d6;
}

.media-save-btn:focus {
    background: #af38d6;
    border-color: #af38d6;
}

.powerfulfour {
    margin-left: 30px;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
    margin-bottom: 15px;
    color: black;
}

.thirdcard {
    text-align: center;
    padding-top: 36px;
    max-width: 264px;
    margin: 0 auto;
}

.check label {
    line-height: 19px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    font-family: "Oxygen", sans-serif;
    color: #000000;
}



.yourProfilefulldiv {
    background: #f5f5f7;
    padding-bottom: 15px;
}

.carousel_content {
    text-align: left;
    position: initial;
}

.carousel_responsive {
    margin-bottom: 200px;
}

.carousel_content h3 {
    font-weight: 700;
    font-size: 28px;
    font-family: "Oxygen", sans-serif;
    color: #af38d6;
    padding-bottom: 14px;
}

.carousel_content p {
    font-weight: 400;
    font-size: 16px;
    font-family: "Oxygen", sans-serif;
    color: black;
}

.carousel_bg {
    background-color: white;
    height: 600px;
    padding: 20px 0px 40px 0px;
}

.carousel_img {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

.try_now {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    font-weight: 600;
    font-size: 14px;
    font-family: "Oxygen", sans-serif;
    color: #af38d6;
    padding-top: 30px;
}

.calculateBenefits {
    display: flex;
}

.range__slider {
    width: 100%;
}


@media screen and (max-width: 1200px) {
    .modes {
        font-size: 14px;
    }

    .bubblfree {
        font-size: 18px;
    }

}

@media screen and (max-width: 992px) {
    .fourModes {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .grid {
        margin-bottom: 40px;
    }


    .deviceNumber_id {
        overflow: hidden;
        max-width: 8ch;
        text-overflow: ellipsis;
        flex-wrap: nowrap;
        display: flex;
        height: 19px;
    }
}


@media screen and (min-width: 769px) {
    .card_div_resp {
        display: none;
    }

    /* .deviceCardDiv {
        display: none !important;
    } */
}

@media screen and (max-width: 768px) {
    .card_div_desktop {
        display: none;
    }


    .deviceCardDiv {
        display: none !important;
    }

    .thirdcard {
        margin-top: 25px;
    }

    .iconsNavt {
        background-color: white;
        border-radius: 50%;
        text-align: center;
    }

    .nav_reponsive {
        display: flex;
        align-items: center;
    }


    .nav_link_responsive {
        display: flex;
        align-items: flex-start !important;
    }




    .nav_image {
        margin-top: -4px;
    }

    .hamburger_resp {
        margin-top: 3px;
    }

    .hamburger_footer {
        margin-bottom: 15px;
        padding-top: 8px;
    }


    .mode {
        display: none;
    }

    .deviceNumber_responsive {
        display: flex;
        align-items: flex-start;
    }

    .activeFix {
        margin-top: 10px;
    }

    .active_tag {
        font-size: 10px;
    }

    .active_green {
        width: 7px;
        height: 7px;
        margin: 8px 8px 8px 11px;
    }

    .number_tag_responsive {
        border: 1px solid #0b8618;
        border-radius: 20px;
        padding-top: 2px;
        align-items: center;
        font-family: "Oxygen";
        font-weight: 700;
        font-size: 16px;
        color: #000000;
        display: flex;
    }

    .deviceNumber {
        margin-right: 0;
    }

    .deviceNumber_resp {
        padding-left: 40px;
        padding-bottom: 42px;
    }

    .image_div {
        margin-right: 10px;
    }

    .multiple_cards {
        align-items: center;
    }

    .dot_img {
        margin-top: -56px;
    }

    .card_div {
        border-radius: 30px;
    }
}

@media screen and (min-width: 992px) {
    .nav_reponsive_cart {
        display: none;
    }

    .nav_reponsive {
        display: none;
        align-items: center;
    }
}

@media screen and (min-width: 501px) {
    .userName_reponsive {
        display: none;
    }


}

@media screen and (max-width: 426px) {


    .number_section {
        flex-direction: column;
        margin-top: -80px;
    }

    .workflow,
    .Wflow {
        display: none;
    }

    .workflow_responsive_section {
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }

    .Wflow_responsive {
        flex-direction: column;
        margin-right: 40px;
        margin-left: -24px;
    }

    .fourModes {
        display: none;
    }

    .create_profile_header {
        font-size: 30px;
        margin-top: 120px;
    }

    .upgrade {
        font-size: 26px;
    }
}