.container {
  max-height: 104%;
  overflow: scroll;
}

.mobile_template {
  max-width: 480px;
  background-color: white;
  position: relative;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

.logo_brand {
  padding: 40px 0 20px 20px;
}

.saveBtn_div {
  margin: 25px 0px 40px 0px;
}

.background_template {
  position: relative;
}

.profile_img {
  border: 3px solid white;
  border-radius: 10px;
  height: 120px;
}

.live_img {
  border-radius: 7px;
}

.user_div {
  display: flex;
  align-items: center;
  margin-top: -105px;
  position: relative;
  padding-left: 15px;
}

.name_div {
  padding-left: 10px;
  color: white;
}

.name {
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-wrap: wrap;
  line-height: 19px;
  max-width: 190px;
}

.designation {
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
}

.shortDes_div {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-top: 15px;
  text-align: left;
  word-wrap: break-word;
}

@media screen and (max-width: 500px) {
  .name {
    max-width: 250px;
  }

  .designation {
    max-width: 24ch;
  }
}

@media screen and (max-width: 430px) {
  .name {
    max-width: 200px;
  }

  .designation {
    max-width: 20ch;
  }
}

@media screen and (max-width: 350px) {
  .name {
    max-width: 180px;
  }

  .designation {
    max-width: 18ch;
  }
}