.linkdevice_input {
  margin-top: 25px;
}


.device_header_profile {
  margin-right: 10%;
  color: rgba(0, 0, 0, 0.4);
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem red !important;
}

.device_img_div {
  width: 70%;
  height: 100%;
  background-color: lightgray;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  padding-top: 140px;
}

.link_information {
  font-style: italic;
  font-size: 13px;
  margin-top: 10px;
}

.buy_device_alignment {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 7px;
}

.buy_device_div {
  margin-top: 10px;
}

.link_device_cancel_div {
  margin-top: 20%;
  display: flex;
  justify-content: space-evenly;
}

/* profile verified page css */
.success_div {
  height: 40vh;
}

.success_alignment {
  display: flex;
  align-items: center;
  height: 30vh;
}

.create_profile_btn {
  margin-top: 10px;
}

.createProfile_header_div {
  background: #000000;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createProfile_header_left {
  width: 60%;
  margin-left: 63px;
}

.home_color_head {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 14px;
}

.linkDevice_color_head {
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #af38d6;
}

.createProfile_heading {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  font-family: "Oxygen";
  padding: 6px 0px 8px 0px;
}

.createProfile_heading_content {
  color: #fff;
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.7;
}

/* Device Input part css */
.info_icon {
  margin-top: 10px;
}

.device_header {
  display: flex;
  justify-content: space-evenly;
  margin: 63px 0px 66px 0px;
}

.link_icon_background {
  height: 35px;
  background-color: #af38d6;
  border-radius: 50%;
  margin-left: 34%;
  padding: 8px 5px 1px 10px;
  width: 35px;
}

.device_header_linkedDevice {
  font-weight: 600;
  font-family: "Oxygen";
  font-weight: 700;
  font-size: 20px;
  margin-top: 8px;
  color: #000000;
}

.profile_icon {
  height: 35px;
  margin-left: 34%;
  padding: 8px;
  width: 35px;
}

.info_content {
  margin-left: 6px;
}

.device_header_profile {
  color: #000000;
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 20px;
  margin-top: 8px;
}

.linkDevice_input {
  margin-top: 25px;
}

.linkDevice_heading {
  font-family: "Oxygen";
  font-weight: 700;
  font-size: 20px;
}

.inputButtonDiv {
  display: flex;
  border-bottom: 1px solid rgba(175, 56, 214, 0.8);
  justify-content: space-between;
}

.linkDeviceBtn {
  color: #af38d6;
  background-color: #fff;
  border: 0px solid transparent;
  margin-left: 20px;
  padding: 0px 0px 6px 0px;
}

.linkDeviceBtn:active {
  background-color: #fff !important;
  border-color: #af38d6 !important;
  color: #af38d6 !important;
}

.linkDeviceBtn:hover {
  background-color: #fff;
  border: 0px solid transparent;
  color: #af38d6;
}

.link_information {
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  display: flex;
  opacity: 0.7;
  margin-top: 26px;
}

.buy_device_div {
  margin-top: 35px;
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 18px;
}

.link_device_cancel_div {
  margin-top: 10%;
  display: flex;
}

.SkipLinkProfileBtn {
  background-color: #af38d6;
  border-color: #af38d6;
  margin-left: 57px;
  font-family: "Oxygen";
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.SkipLinkProfileBtn:hover {
  background-color: #af38d6;
  border-color: #af38d6;
}

.SkipLinkProfileBtn:focus {
  background-color: #af38d6;
}

.SkipLinkProfileBtn:active {
  background-color: #af38d6 !important;
  border-color: #af38d6 !important;
}

.buy_device_alignment {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 7px;
  font-family: "Oxygen";
  font-weight: 700;
  font-size: 18px;
}

.linkDevice_heading_div {
  margin-bottom: 33px;
}

.inputDiv {
  border: 1px solid transparent;
  padding: 0px 0px 0px 0px;
}

.inputDiv:active {
  border: 1px solid transparent;
}

.inputDiv:focus {
  border: 1px solid transparent;
}

.linkDeviceHeader {
  align-items: center;
}

.image_head {
  margin-right: 30px;
}

.link_device_cancel_btn {
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.link_device_cancel_btn:hover {
  border-color: white !important;
}

@media screen and (max-width: 768px) {
  .createProfile_header_left {
    width: 60%;
    margin-left: 0px;
  }

  .image_head {
    margin-right: 0px;
  }
}

@media screen and (max-width: 426px) {
  .image_head {
    display: none;
  }
}

.createProfile_header_div {
  background: #000000;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createProfile_header_left {
  width: 60%;
  margin-left: 63px;
}

.home_color_head {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 14px;
}

.linkDevice_color_head {
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #af38d6;
}

.createProfile_heading {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  font-family: "Oxygen";
  padding: 6px 0px 8px 0px;
}

.createProfile_heading_content {
  color: #fff;
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.7;
  max-width: 583px;
}

/* Device Input part css */
.info_icon {
  margin-top: 10px;
}

.device_header {
  display: flex;
  justify-content: space-evenly;
  margin: -30px 0px 66px 0px;
}

.device_header_line {
  max-width: 883px;
  height: 0.5px;
  border: 0.5px solid #ededed;
  margin-top: 86px;
  margin: 0 auto;
}

.link_icon_background {
  background-color: #af38d6;
  border-radius: 50%;
  padding: 8px 8px 4px 10px;
  width: 45px;
  margin: 0 auto;
  margin-top: 8px;
}

.device_header_linkedDevice {
  font-family: "Oxygen";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  padding-top: 8px;
}

.profile_icon {
  margin: 0 auto;
  padding-top: 17px;
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 50%;
  width: 45px;
}

.info_content {
  margin-left: 6px;
  max-width: 370px;
}

.device_header_profile {
  color: #000000;
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 18px;
  padding-top: 16px;
}

.linkDevice_input {
  margin-top: 25px;
}

.linkDevice_heading {
  font-family: "Oxygen";
  font-weight: 700;
  font-size: 18px;
}

.inputButtonDiv {
  display: flex;
  border-bottom: 1px solid rgba(175, 56, 214, 0.8);
  justify-content: space-between;
}

.linkDeviceBtn button {
  color: #af38d6;
  background-color: #fff;
  border: 0px solid transparent;
  margin-left: 20px;
  padding: 0px 0px 6px 0px;
}

.linkDeviceBtn button:active {
  background-color: white !important;
  border-color: #af38d6;
  color: #af38d6 !important;
}

.linkDeviceBtn:hover button {
  background-color: white;
  border-color: #af38d6;
  color: #af38d6;
}

.link_information {
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  display: flex;
  opacity: 0.7;
  margin-top: 26px;
}

.buy_device_div {
  margin-top: 35px;
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 18px;
}

.link_device_cancel_div {
  margin-top: 10%;
  display: flex;
}

.SkipLinkProfileBtn {
  background-color: #af38d6;
  border-color: #af38d6;
  margin-left: 57px;
  font-family: "Oxygen";
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  width: 192px;
  height: 42px;
}

.SkipLinkProfileBtn:hover {
  background-color: #af38d6;
  border-color: #af38d6;
}

.SkipLinkProfileBtn:focus {
  background-color: #af38d6;
}

.SkipLinkProfileBtn:active {
  background-color: #af38d6 !important;
  border-color: #af38d6 !important;
}

.buy_device_alignment {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 7px;
  font-family: "Oxygen";
  font-weight: 700;
  font-size: 18px;
}

.linkDevice_heading_div {
  margin-bottom: 33px;
}

.inputDiv {
  border: 1px solid transparent;
  padding: 0px 0px 0px 0px;
}

.inputDiv:active {
  border: 1px solid transparent;
}

.inputDiv:focus {
  border: 1px solid transparent;
}

.linkDeviceHeader {
  display: flex;
  justify-content: center;
}

.linkDeviceHeader_section {
  margin-right: 50px;
}

.image_head {
  margin-right: 30px;
}

.link_device_cancel_btn {
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.link_device_cancel_btn:hover {
  border-color: white !important;
}

@media screen and (max-width: 992px) {
  .linkDeviceHeader_section {
    display: none;
  }

  .createProfile_heading_content {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .createProfile_heading_content {
    font-size: 12px;
  }

  .home_color_head {
    font-size: 12px;
  }

  .createProfile_header_left {
    width: 60%;
    margin-left: 0px;
  }

  .image_head {
    margin-right: 0px;
  }

  .linkDevice_color_head {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .createProfile_header_left {
    width: 100%;
    margin-top: 120px;
  }

  .buy_device_div {
    font-size: 14px;
  }

  .buy_device_alignment {
    font-size: 14px;
  }

  .image_head {
    display: none;
  }

  .linkDeviceBtn {
    background-color: #f5f5f7;
  }

  .link_device_cancel_btn:hover {
    border-color: #f5f5f7 !important;
  }

  .createProfile_header_div {
    height: 510px;
    align-items: flex-start;
    margin-top: -110px;
  }

  .device_header_linkedDevice {
    font-size: 14px;
    color: white;
    width: 85px;
  }

  .device_header_profile {
    font-size: 14px;
    padding-top: 8px;
    color: white;
    width: 85px;
  }

  .linkDeviceBtn:hover button {
    background-color: #f5f5f7;
  }

  .linkDeviceBtn button {
    background-color: #f5f5f7;
  }

  .profile_icon {
    padding: 12px;
    margin-top: 7px;
  }

  .device_header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: -30px 0px 140px 0px;
  }

  .linkDevice_heading {
    font-family: "Oxygen";
    font-weight: 700;
    font-size: 20px;
  }

  .device_header_line {
    max-width: 90%;
    height: 0.5px;
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    margin-top: -190px;
  }

  .linkDevice_input {
    margin-top: 0px;
    padding: 0 20px 0 20px;
  }
}

.card_header {
  margin: 57px 0px 30px 0px;
  padding: 60px 25px 25px 25px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  padding-bottom: 80px;
}

/* Mobile responsive Background color */
@media screen and (max-width: 500px) {
  .card_header {
    box-shadow: 0px 0px 0px #f5f5f7;
    border-color: transparent;
    background: #f5f5f7;
  }

  .card_header {
    padding-bottom: 0px;
    padding: 25px 0 25px 0;
  }

  .successImg_msg {
    text-align: center;
    font-size: 21px;
  }
}