.imageContainer {
    width: 85.7vw;
    margin: 0% auto;
    position: relative;
    z-index: 1;
}

.contactButtonContainer {
    position: absolute;
    bottom: 6%;
    left: 81.5%;
    color: azure;

}

.contactButton {
    background: linear-gradient(109deg, rgba(129, 45, 226), rgba(58, 73, 249));
    border: transparent;
    font-family: "Source Sans Pro", "Oxygen";
    width: 9vw;
    height: 4.2vh;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundContainer {
    position: relative;
}

.featureImageOne {
    position: relative;
    z-index: 1;
}

.featureImageTwo {
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 692px) {
    .resp {
        display: none;
    }

    .containerResp {
        display: none;
    }
}

@media screen and (max-width: 692px) {
    .desk {
        display: none;
    }

    .contactButtonContainer {
        display: none;
    }

    .container {
        display: none;
    }

    .imageRespContainer {
        width: 85.7vw;
        margin: 0% auto;
        position: relative;
    }

    .contactButtonContainerResp {
        position: absolute;
        bottom: 2%;
        left: 53.5%;
        color: azure;
        z-index: 3;

    }

    .contactButtonResp {
        background: linear-gradient(109deg, rgba(129, 45, 226), rgba(58, 73, 249));
        border: transparent;
        font-family: "Source Sans Pro", "Oxygen";
        width: 26vw;
        height: 4.2vh;
        font-weight: 700;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* .featureImageTwo {
        margin-top: 3vh !important;
    } */

}