/* link */
.createProfile_header_div {
  background: #000000;
  border-radius: 20px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  background-color: #000000;
  width: 100vw;
  /* height: 100vh; */
}



.FooterContainer {
  margin-top: 20vh;
}

.replaceDeviceContainer {
  background-color: #000000;
  width: 85.7vw;
  margin: 0% auto;
}

.createProfile_header_left {
  width: 60%;
  margin-left: 63px;
}

.home_color_head {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

.linkDevice_color_head {
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #af38d6;
  cursor: pointer;
}

.createProfile_heading {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  font-family: "Oxygen";
  padding: 6px 0px 8px 0px;
}

.createProfile_heading_content {
  color: #fff;
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.7;
  max-width: 583px;
}

/* Device Input part css */
.info_icon {
  margin-top: 10px;
}

.device_header {
  display: flex;
  justify-content: space-evenly;
  margin: -30px 0px 66px 0px;
}

.device_header_line {
  max-width: 883px;
  height: 0.5px;
  border: 0.5px solid #ededed;
  margin-top: 86px;
  margin: 0 auto;
}

.link_icon_background {
  background-color: #af38d6;
  border-radius: 50%;
  padding: 8px 8px 4px 10px;
  width: 45px;
  margin: 0 auto;
  margin-top: 8px;
}

.device_header_linkedDevice {
  font-family: "Oxygen";
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  padding-top: 8px;
}

.profile_icon {
  margin: 0 auto;
  padding-top: 17px;
  display: flex;
  justify-content: center;
  background: rgb(41, 41, 50, 0.4);
  ;
  border-radius: 50%;
  width: 45px;
}

.info_content {
  margin-left: 6px;
  max-width: 370px;
  color: #ededed;
}

.device_header_profile {
  color: #ffffff;
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 18px;
  padding-top: 16px;
}

.linkDevice_input {
  margin-top: 25px;
}

.linkDevice_heading {
  font-family: "Oxygen";
  font-weight: 700;
  font-size: 18px;
  color: #ededed;
}

.inputButtonDiv {
  display: flex;
  border-bottom: 1px solid rgba(175, 56, 214, 0.8);
  justify-content: space-between;
}

.linkDeviceBtn button {
  color: #af38d6;
  background-color: transparent;
  ;
  border: 0px solid transparent;
  margin-left: 20px;
  padding: 0px 0px 6px 0px;
}

.linkDeviceBtn button:active {
  background-color: white !important;
  border-color: #af38d6;
  color: #af38d6 !important;
}

.linkDeviceBtn:hover button {
  background-color: white;
  border-color: #af38d6;
  color: #af38d6;
}

.link_information {
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  display: flex;
  opacity: 0.7;
  margin-top: 26px;
}

.buy_device_div {
  margin-top: 35px;
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 18px;
}

.link_device_cancel_div {
  margin-top: 10%;
  display: flex;
}

.SkipLinkProfileBtn {
  border: 1px solid #af38d6;
  border-color: #af38d6;
  width: 190px;
  margin-left: 57px;
  font-family: "Oxygen";
  font-weight: 700;
  font-size: 14px;
  background: white;
  color: #af38d6;
  height: 42px;
}

.SkipLinkProfileBtn:hover {
  background: #af38d6;
  border-color: #af38d6;
  color: white;
}

.SkipLinkProfileBtn:active {
  background: #af38d6 !important;
  border-color: #af38d6 !important;
  color: white !important;
}

.buy_device_alignment {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 7px;
  font-family: "Oxygen";
  font-weight: 700;
  font-size: 18px;
}

.linkDevice_heading_div {
  margin-bottom: 33px;
}

.inputDiv {
  border: 1px solid transparent;
  padding: 0px 0px 0px 0px;
  color: #f5f5f7;
}

.inputDiv:active {
  border: 1px solid transparent;
  color: #f5f5f7;
}

.inputDiv:focus {
  border: 1px solid transparent;
  color: #f5f5f7;
}

.linkDeviceHeader {
  display: flex;
  justify-content: center;
}

.linkDeviceHeader_section {
  margin-right: 50px;
}

.image_head {
  margin-right: 30px;
}

.link_device_cancel_btn {
  font-family: "Oxygen";
  font-weight: 400;
  font-size: 16px;
  color: #af38d6;
}

.link_device_cancel_btn:hover {
  border-color: white !important;
}

@media screen and (max-width: 992px) {
  .linkDeviceHeader_section {
    display: none;
  }

  .createProfile_heading_content {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .createProfile_heading_content {
    font-size: 12px;
  }

  .home_color_head {
    font-size: 12px;
  }

  .createProfile_header_left {
    width: 60%;
    margin-left: 0px;
  }

  .image_head {
    margin-right: 0px;
  }

  .linkDevice_color_head {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .createProfile_header_left {
    width: 100%;
    /* margin-top: 120px; */
  }

  .buy_device_div {
    font-size: 14px;
  }

  .buy_device_alignment {
    font-size: 14px;
  }

  .image_head {
    display: none;
  }


  .link_device_cancel_btn:hover {
    border-color: #f5f5f7 !important;
  }

  .createProfile_header_div {
    /* height: 510px; */
    align-items: flex-start;
    /* margin-top: -110px; */
  }

  .device_header_linkedDevice {
    font-size: 14px;
    color: white;
    width: 85px;
  }

  .device_header_profile {
    font-size: 14px;
    padding-top: 8px;
    color: white;
    width: 85px;
  }


  .profile_icon {
    padding: 12px;
    margin-top: 7px;
  }

  .device_header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: -30px 0px 140px 0px;
  }

  .linkDevice_heading {
    font-family: "Oxygen";
    font-weight: 700;
    font-size: 20px;
  }

  .device_header_line {
    max-width: 90%;
    height: 0.5px;
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    margin-top: -190px;
  }

  .linkDevice_input {
    margin-top: 0px;
    padding: 0 20px 0 20px;
  }

  .linkDeviceBtn button:active {
    background-color: transparent !important;
  }
}

.container_div {
  padding: 70px 0px 20px 0px;
  background-color: #000000;
}

/* Mobile responsive Background color */
@media screen and (max-width: 500px) {
  .card_header {
    box-shadow: 0px 0px 0px #f5f5f7;
    border-color: transparent;
    background: #000000;
  }

  .card_header {
    padding-bottom: 0px;
    padding: 25px 0 25px 0;
  }
}

.card_header {
  margin: 57px 0px 30px 0px;
  padding: 60px 25px 25px 25px;
  background: rgb(41, 41, 50, 0.4);
  ;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  padding-bottom: 80px;
}