.container {
    background-color: #000000;
}

.shopPageSection {
    background-color: black;
    width: 100vw;
    margin: 0% auto;


}

.heroImgStyle {
    position: absolute;
    left: initial;
    right: 16vw;
    top: 10vh;
    width: 35.3vw;
}

.footerSectionInside {
    width: 85.7vw;
    margin: 0% auto;
}

.footerSection {
    background: linear-gradient(1deg, rgba(58, 73, 249, .88) -171.77%, rgba(129, 45, 226, .49) -22.73%, transparent 102.14%) !important;
    padding-top: 35px;
    margin-top: 60px;
}

.shopPageBackSection {
    background-color: red;
}

.proContentHead {
    display: flex;
    /* justify-content: space-evenly; */
    width: 80vw;
    margin: 0% auto;
    gap: 20vw;
}

.proContentFirst {
    color: #FFF;
    font-family: "Oxygen";
    font-size: clamp(0.875rem, 0.7628rem + 0.5128vw, 1.5rem);
    font-style: normal;
    font-weight: 300;
    line-height: 117%;
    /* text-transform: capitalize; */
}

.proContentFirst span {
    color: #FFF;
    font-family: "Oxygen";
    text-align: center;
    font-size: clamp(0.875rem, 0.7628rem + 0.5128vw, 1.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: 117%;
}

.proContentSecond {
    color: #FFF;
    text-align: right;
    font-family: "Oxygen";
    font-size: clamp(0.75rem, 0.6378rem + 0.5128vw, 1.375rem);
    font-weight: lighter;
    width: 33vw;
    /* padding-right: 2.5vw; */
}

.navigationProPageBackground {
    background: rgba(81, 81, 81, 0.11);
    position: relative;
    /* height: 10vh; */
    margin-top: 1vh;


}

.proPageFooterContainer {
    padding-top: 25vh;
    width: 85.7vw;
    margin: 0% auto;
    /* margin-left: 5vw; */
}

.userprofile_sec {
    margin-top: -1vh;
    width: 85.7vw;
    margin-left: 7vw;
    color: white;
    padding-bottom: 0;
}

.bubblProHead {
    margin: 0% auto;
    /* padding-left: 235px; */
    margin-top: 20px;
}




.home a {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #e4e4e4;
    text-decoration: none;
}

.home a:hover {
    color: #af38d6;
}

.home a:active {
    color: #af38d6;
}

.contact_dropdown {
    display: flex;
    border-bottom: 1px solid #cacaca;
    width: 100%;
    margin-top: 7px;
}

.contact_dropdown button {
    padding: 0;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #020202;
}

.contact_dropdown>div {
    width: 100%;
}

.dropdown_contact button {
    width: 100% !important;
    display: flex !important;
}

.dropdown_contact .home {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    align-items: center;
}




.userprofile_landingthree {
    display: flex;
    flex-direction: row;
    border-radius: 0px 0px 228.5px 228.5px;
    background: rgba(85, 85, 85, 0.16);
    /* background: grey; */
    overflow: hidden;
    backdrop-filter: blur(54.54999923706055px);
    /* padding-top: 130px; */
    background-repeat: no-repeat;
    background-position-x: 631px;
    background-position-y: bottom;
    border-bottom-left-radius: 210px;
    border-bottom-right-radius: 210px;
    margin-bottom: 100px;
    /* background-size: 775px; */
    padding-left: 8vw;
}


@media screen and (min-width: 1500px) {
    .heroImgStyle {
        width: 33.3vw;
        top: 10vh;
    }
}


@media screen and (max-width: 500px) {


    .userprofile_landingthree {
        border-bottom-left-radius: 72px;
        border-bottom-right-radius: 72px;
        margin-bottom: 65px;
    }

    .features {
        margin-top: 0px !important;
    }

    .proContentFirst {
        font-size: clamp(0.75rem, 0.5278rem + 1.1111vw, 0.875rem);
    }

    .proContentSecond {
        font-size: clamp(0.625rem, 0.4028rem + 1.1111vw, 0.75rem);
        text-align: left;
    }
}


.letscard {
    font-size: clamp(1.625rem, 1.4679rem + 0.7179vw, 2.5rem);
    font-weight: 700;
    font-family: "Source Sans pro", sans-serif;
    margin-bottom: 10px;
    margin-top: 68px;
    background: linear-gradient(90deg, #7F2EE3 0%, #4246F7 81.68%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.explore {
    color: #F5F5F7;
    font-family: "Oxygen";
    font-size: clamp(1.125rem, 0.9904rem + 0.6154vw, 1.875rem);
    font-style: normal;
    font-weight: normal;
    width: 80%;
    margin-bottom: 22vh;
}


.contactPage {
    background-color: black;
}


.knowhwat {
    text-align: -webkit-center;
}

.experience {
    font-family: "Oxygen", sans-serif;

    font-weight: 300;
    font-size: 28px;
    text-align: center;
    color: #111111;
    margin-bottom: 60px;
}

.breadcrumbs {
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #656565;
}

.sub_breadcrumbs {
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #af38d6;

}




.line {
    opacity: 0.1;
    border-top: 1px solid #000000;
    width: 100%;
    margin-top: 80px;
}

.dots {
    text-align: center;
    margin-bottom: 40px;
}

.bundlesandcustoms {
    margin-top: 80px;
}

.bundlescustom {
    display: flex;
    margin-top: 50px;
    margin-bottom: 140px;
}

.bubblBundle {
    margin-bottom: 120px;
}

.bundlesandcustoms {
    margin-bottom: 100px;
}

.quantity {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 16px;
}

.heading {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #020202;
    width: 207px;
}


.product_buttons {
    display: flex;
    gap: 24px;
}

.testcont {
    text-align: -webkit-center;
}




.newsletter {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: #f8f8f8;
}

.newslettersection {
    margin-top: 120px;
}


.number {
    background-color: white;
    height: 45px;
}

.features {
    margin-top: 37px;
    /* padding-left: 121px; */
    /* margin-bottom: 50px; */
}

.contact_us {
    margin-top: 109px;
}

.footerDiv {
    margin-top: 177px;
}

.letscard span {
    color: #db973e;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
}

.minus,
.plus {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.bubblName {
    background: linear-gradient(90deg, #812DE2 -26.37%, #3A49F9 113.91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 27px;
    display: flex;
    justify-content: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 162.336%;
}


.bubblSubHead {
    margin-top: 6px;
    color: #F5F5F7;
    text-align: center;
    font-family: "Oxygen";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}

.imageDiv {
    margin-top: 15px;
}

.contentHeading {
    margin-top: 64px;
}

.firstContent {
    color: #FFF;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-left: 37px;
    margin-right: 37px;
}

.secondContent {
    margin-top: 10px;
    color: #FFF;
    text-align: center;
    font-family: "Oxygen";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-left: 77px;
    margin-right: 77px;
}

.shopPageResponsive {
    width: 85.7vw;
    margin: 0 auto;
}

.responsive_NavContainer {
    padding-top: 25px;
}

@media screen and (max-width:1245px) {
    .shopPageBackSection {
        border-bottom-left-radius: 117px;
        border-bottom-right-radius: 117px;
    }


}

@media screen and (min-width:1201px) {
    .shopPageResponsive {
        display: none;
    }
}


@media screen and (max-width:1202px) {

    .heroImgStyle {
        top: 11vh;
        left: inherit;
        right: 70px;
    }

    .proContentHead {
        align-items: center;
    }

    .proContentFirst {
        line-height: 1.4;
    }

    .proContentSecond {
        width: inherit;
    }
}

@media screen and (max-width: 768px) {

    /* .web {
        display: none !important;
    } */
    .heroImgStyle {
        right: 50px;
    }

    .breadcrumbs {
        display: none;
    }

    .userprofile_landingthree {
        overflow: hidden
    }

    .explore {
        width: 85%;
        text-align: center;
        font-size: 16px;
    }

    .heroImgStyle {
        top: auto;
    }

    .proContentHead {
        gap: 1vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5vh;
    }

    .proContentFirst {
        display: contents;
        align-items: center;
    }

    .proContentSecond {
        display: flex;
        align-items: center;
        width: auto;
    }

    /* .letscard {
        display: flex;
        justify-content: center;
    } */

    .explore {
        /* display: flex; */
        /* justify-content: center; */
        /* text-align: center; */
    }

    .imageDiv {
        width: 50vw;
        margin-left: 20vw;
    }

    .letscard {
        margin-top: 0px;
        text-align: center;
        width: 85.7vw;

    }

    .bubblProHead {
        margin: 0;
        padding-right: 0;
    }

    .newsletter {
        font-size: 14px;
    }

    .form__field:placeholder-shown~.form__label {
        font-size: 10px !important;
        top: 44px !important;
    }

    /* .heroImgStyle {
        display: none;
    } */

    .userprofile_landingthree {
        margin-bottom: 70px;
        padding-top: 30px;
    }

    .heroImgStyle {
        position: absolute;
        /* width: 100%; */
    }

    .productcontbtn {
        background-color: rgba(255, 255, 255, 0.43);
        padding-left: 10px;
        padding-bottom: 15px;
    }

    .proBanner {
        margin-top: 20px;
    }
}

@media screen and (max-width: 475px) {
    .heroImgStyle {
        width: 200px;
        right: 10px;
    }
}

@media screen and (max-width: 475px) {
    .heroImgStyle {
        width: 249px;
        right: 68px;
        bottom: -25px;
    }
}

@media screen and (max-width: 350px) {
    .heroImgStyle {
        padding-top: 0px;
        padding-left: 0;
    }

    .explore {
        font-size: 12px;
    }

    .explore {
        width: 160px;
    }

    .heroImgStyle {
        width: 140px;
        right: 10px;
    }

    .proContentHead {
        text-align: center;
    }

    .proContentFirst {
        font-size: 10px;
    }

    .proContentSecond {
        text-align: center;
    }
}